
/* definimos la fuente "fontinstituto" para utilizar en el nombre del .instituto*/
@font-face {
     font-family: fontinstituto;
    src: url(fonts/HTOWERT.TTF);
}

/* armamos 3 tipos de estilos diferentes, dependiendo del tamaño de pantalla, tanto del menu como del tamaño del main */
 /* al pasar el mouse sobre el menu, relizamos una transforcion/ animacion con los colores
realizamos el menu utilizando flexbox */
@media screen and (max-width: 640px) {

  header{
    background: white; 
    }
  
  /* definimos el nav que va a contener el logo, el nombre y el menu de tipo flex */
   nav {
    display: flex;
    padding: 1em;
    margin-bottom: 1rem;
    text-align: center;
    }

/* definimos el nav  ul que va a contener el menu de navegacion tipo flex y vamos ajustando el formato a nuestro gusto*/
  nav ul {
       padding: 1em;
        margin-bottom: 1rem;
        list-style: none;
    margin-top: 0rem;
  }
 nav li {
  width: 7rem;

}

/* definimos el formato de cada una de las opciones del menu   */
nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border: 0.2rem ;
    border-radius: 0.4rem;
    margin: 0.1rem;
    background: rgb(6, 122, 189);
    font-size: 0.7rem;


  }
  /* definimos que pasa cuando acercamos el mouse a las opciones del menu. Utilizamos una animacion/transforcion */
  nav li a:hover {
    background: blue;
    color: white;
    transition-property: all; 
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
  }

  


  /*definimos la clase logo. Para ajustar el logo del instituto*/
  .logo{
    height: 3vh;
     }

/*definimos la clase instituto. Para ajustar la fuente y color del nombre del instituto*/
.instituto{
    font-family: fontinstituto;
    color: rgb(6, 122, 189);
    font-size: 2rem;
    text-align: left;
    /* line-height: 4.5rem; */
     }


    /* definimos tamaño y color de fondo del main, utilizando un dgrade del blanco a un tono de celeste*/
main{
  background: linear-gradient(white,rgb(6, 122, 189));
  height: 50rem;
} 
  
  }
  
   
  
  @media screen and (min-width: 640px) and (max-width: 900px) {
  
    header{
      background: white; 
      }
    
    /* definimos el nav que va a contener el logo, el nombre y el menu de tipo flex */
     nav {
      display: flex;
      padding: 1em;
      margin-bottom: 1rem;
      text-align: center;
      }
  
  /* definimos el nav  ul que va a contener el menu de navegacion tipo flex y vamos ajustando el formato a nuestro gusto*/
    nav ul {
         padding: 1em;
          margin-bottom: 1rem;
          list-style: none;
      margin-top: 0rem;
    }
   nav li {
    width: 7rem;
  
  }
  
  /* definimos el formato de cada una de las opciones del menu   */
  nav li a {
      color: white;
      display: block;
      text-decoration: none;
      padding: 0.5rem;
      border: 0.2rem ;
      border-radius: 0.4rem;
      margin: 0.1rem;
      background: rgb(6, 122, 189);
      font-size: 0.7rem;
  
  
    }
    /* definimos que pasa cuando acercamos el mouse a las opciones del menu . utilizamos una transformacion/animacion*/
    nav li a:hover {
      background: blue;
      color: white;
      transition-property: all; 
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
    }
  
    
  
  
    /*definimos la clase logo. Para ajustar el logo del instituto*/
    .logo{
      height: 3vh;
       }
  
  /*definimos la clase instituto. Para ajustar la fuente y color del nombre del instituto*/
  .instituto{
      font-family: fontinstituto;
      color: rgb(6, 122, 189);
      font-size: 2rem;
      text-align: left;
      /* line-height: 4.5rem; */
       }
  
     /* definimos tamaño y color de fondo del main, utilizando un dgrade del blanco a un tono de celeste*/
main{
  background: linear-gradient(white,rgb(6, 122, 189));
  height: 40rem;


}
  }
  
   
  
 @media screen and (min-width: 900px) {
 
  header{

    background: white;
    height: 100%;

}


  /* definimos el nav que va a contener el logo, el nombre y el menu de tipo flex */
nav {
  display: flex;
  padding: 1em;
  margin-bottom: 1rem;
  text-align: center;
  }

/* definimos el nav  ul que va a contener el menu de navegacion tipo flex y vamos ajustando el formato a nuestro gusto*/
nav ul {

    display: flex;
     padding: 1em;
          margin-left: 10rem;
     margin-bottom: 1rem;
      list-style: none;
  margin-top: 0rem;


}
nav li {
flex:auto;
width: 7rem;

}

/* definimos el formato de cada una de las opciones del menu   */
nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  border: 0.2rem ;
  border-radius: 0.4rem;
  margin: 0.1rem;
  background: rgb(6, 122, 189);



}
/* definimos que pasa cuando acercamos el mouse a las opciones del menu. utilizamos una transicion/animacion entre colores*/
nav li a:hover {
  background: blue;
  color: white;
  transition-property: all; 
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
}




/*definimos la clase logo. Para ajustar el logo del instituto*/
.logo{
  height: 18vh;
  width: 9vw;
  }

/*definimos la clase instituto. Para ajustar la fuente y color del nombre del instituto*/
.instituto{
  font-family: fontinstituto;
  color: rgb(6, 122, 189);
  font-size: 2rem;
  text-align: left;
  line-height: 4.5rem;
   }
  /* definimos tamaño y color de fondo del main, utilizando un dgrade del blanco a un tono de celeste*/
main{
  background: linear-gradient(white 20%,rgb(6, 122, 189));
  height: 30rem;


}


  } 





/* definimos tamaño del pie de pagina*/
footer{
  background: rgb(6, 122, 189);
  height: 2rem;
  color: white;
  text-align: center;
  margin-top: 0.3rem;
  padding: 0.2rem;
  }
  .pie{
    line-height: 0.1rem;
  }


  .contenedor{
    background-color: white;
    align-items: center;
    height: 100%;
    margin: none;
  }



